html {
    margin: 0;
}

.my-mb-1 {
    margin-bottom: 1rem;
}

.wrapper, #number-buttons-wrapper, #operand-buttons-wrapper{
    display: flex;
}

.wrapper {
    margin: 0 auto;
    max-width: fit-content;
    flex-flow: row wrap;
}

#display-wrapper {
    flex: 100%;
    height: 20px;
    max-width: 260px;
}

#number-buttons-wrapper {
    flex-flow: row wrap;
}

#operand-buttons-wrapper {
    flex-flow: column nowrap;
}

#number-buttons-wrapper button, #operand-buttons-wrapper button {
    flex: 33%;
}